::-moz-selection { background: #cf482d; color: #fff; }
::selection { background: #cf482d; color: #fff; }

body { background: #eee url(/img/rainbow_bar.png) repeat-x; font: 14px/1.4em 'Open Sans', helvetica, arial, sans-serif; color: #333; }
header { padding: 2.4em 0; text-align: center; border-bottom: solid 1px #ddd; margin: 5px 0 0; }
header > div { max-width: 620px; margin: 0 auto; padding: 0 10px; }
header > div ul li { display: inline-block; }
strong { font-weight: bold; }
p { margin-bottom: 1.2em; }
a { text-decoration: none; color: #cf482d; -webkit-transition: opacity 0.3s ease; -moz-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; -ms-transition: opacity 0.3s ease; transition: opacity 0.3s ease; }
a:hover { opacity: 0.5; }
footer { padding: 2.4em 0; text-align: center; text-transform: uppercase; font-size: 0.85em; font-weight: bold; }
article { overflow: hidden; border-bottom: solid 1px #ddd; padding: 3.0em 0 1.8em; }
img { display: block; width: 100%; margin-bottom: 1.2em; float: left; }
h2 { font-size: 1.8em; line-height: 1.3em; margin-bottom: 0.8em; }

#profile_image { width: 84px; height: 84px; position: relative; margin: 0 auto 20px; }
#profile_image * { position: absolute; top: 0; left: 0; }
#profile_image img { width: 80px; height: 80px; top: 2px; left: 2px; border-radius: 50%; }
#profile_image div { width: 84px; height: 84px; border: solid 4px #fff; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), inset 0 2px 3px rgba(0, 0, 0, 0.4); border-radius: 50%; }

.wrapper { margin: 0 auto; max-width: 980px; overflow: hidden; padding: 0 10px; }
.one, .three { float: left; overflow: hidden; padding: 0 10px; }
.one { width: 25%; }
.three { width: 75%; }

.mobile { max-width: 280px; margin: 0 1.2em 1.2em 0; }

@media only screen and (max-width: 1024px) {
	.one, .three { width: 50%; }
}

@media only screen and (max-width: 768px) {
	.one, .three { width: 100%; }
	img, .mobile { margin-right: auto; margin-left: auto; float: none; }
}











/*::-moz-selection { background: #1fc1a6; color: #fff; }
::selection { background: #1fc1a6; color: #fff; }

body { color: #fff; color: #333; font: 100 16px/20px 'Open Sans'; margin: 0; background-color: #161c1f; background: #eee; }
h2 { font-weight: 300; text-transform: uppercase; font-size: 14px; margin: 0; }
p { color: #89949b; margin: 0 0 20px; }
a { font-weight: 600; text-decoration: none; color: #1fc1a6; -webkit-transition: opacity 0.3s ease; -moz-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; -ms-transition: opacity 0.3s ease; transition: opacity 0.3s ease; }
a:hover { -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter: alpha(opacity=60); opacity: 0.6; }

#profile { margin: 60px 0 0 60px; max-width: 320px; background: #fff url(http://www.environmentalgraffiti.com/sites/default/files/images/13383908841677649372.jpg) no-repeat center -160px;
text-align: center;
padding: 40px 40px 20px;
margin: 40px auto;
overflow: hidden;
box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
border-radius: 3px; }
#profile #profile_image { margin: 0 0 20px; width: 80px; height: 80px; position: relative; margin: 107px auto 20px; }
#profile #profile_image * { position: absolute; top: 0; left: 0; }
#profile #profile_image img { width: 76px; height: 76px; top: 2px; left: 2px; border-radius: 50%; }
#profile #profile_image div { width: 80px; height: 80px; border: solid 4px #fff; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), inset 0 2px 3px rgba(0, 0, 0, 0.4); border-radius: 50%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }

@media screen and (max-width: 568px) {
  #profile { margin: 0 auto; text-align: center; padding: 20px 20px 0; }
  #profile #profile_image { margin-top: 127px; }
}*/

/*::selection, ::-moz-selection { color: white; background: #555B60; }

body { font: 400 14px/20px "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #555B60; background: #f2f2f2; }
h2 { font-size: 18px; line-height: 22px; margin-bottom: 12px; }
a { color: #353A3E; font-weight: 600; text-decoration: none; border-bottom: 2px solid #f2f2f2; }
a:hover { border-bottom-color: #e5e5e5; }
p { margin-bottom: 12px; }
header { padding: 40px 0; text-align: center; background: url(/img/bg.jpg) no-repeat center; background-size: cover; }
header h1 { font: 400 60px/74px 'yesteryear', 'playball'; color: #fff; text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }
section { background: #fff; padding: 40px 0; text-align: center; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
section ul li { display: inline-block; }
section ul li a { border: 0; }
section ul li a:hover { opacity: 0.5; }
section .wrapper .two { float: none; margin: 0 auto; }
footer { text-align: center; padding: 40px 0; }
footer a { border-bottom-color: #e6e6e6; }
footer a:hover { border-bottom-color: #d9d9d9; }
article { padding: 40px 0 28px; border-bottom: solid 1px #e6e6e6; }
article img { display: block; width: 100%; margin-bottom: 12px; float: left; }

.wrapper { margin: 0 auto; width: 960px; overflow: hidden; }
.wrapper div { padding: 0 10px; box-sizing: border-box; float: left; }
.wrapper div.one { width: 25%; }
.wrapper div.two { width: 50%; }
.wrapper div.three { width: 75%; }
.wrapper div.four { width: 100%; }

.mobile { width: 280px; margin: 0 20px 12px 0; }*/
