* {
  box-sizing: border-box;
}

.container,
.container-wide {
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.container-wide {
  max-width: 1000px;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

[class*="col-"] {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

[class*="col-"].col-right {
  float: right;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.push-1 {
  margin-left: 8.33333%;
}

.push-2 {
  margin-left: 16.66667%;
}

.push-3 {
  margin-left: 25%;
}

.push-4 {
  margin-left: 33.33333%;
}

.push-5 {
  margin-left: 41.66667%;
}

.push-6 {
  margin-left: 50%;
}

.push-7 {
  margin-left: 58.33333%;
}

.push-8 {
  margin-left: 66.66667%;
}

.push-9 {
  margin-left: 75%;
}

.push-10 {
  margin-left: 83.33333%;
}

.push-11 {
  margin-left: 91.66667%;
}

.push-12 {
  margin-left: 100%;
}

@media (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
  [class*="push-"] {
    margin-left: 0;
  }
}

* {
  text-rendering: optimizeLegibility;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font: 16px/24px 'source sans pro', helvetica, arial, sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #08c;
  transition: opacity 0.2s ease-out;
}

a:hover {
  opacity: 0.5;
}

em {
  font-style: italic;
}

img {
  display: block;
  width: 100%;
  margin-bottom: 16px;
}

p {
  margin-bottom: 16px;
}

strong {
  font-weight: 600;
}

hr {
  display: block;
  border: 0;
  height: 1px;
  background: #eee;
  margin-top: 24px;
  margin-bottom: 24px;
}

.mb-16 {
    margin-bottom: 16px;
}

ul,
ol {
  padding-left: 24px;
  margin-bottom: 16px;
}

ul li,
ol li {
  margin-bottom: 12px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

pre {
  border: solid #eee;
  border-width: 1px 0;
  margin-bottom: 16px;
  padding: 12px;
  overflow: auto;
}

code {
  font-family: 'source code pro';
}

h3 {
  font-weight: 600;
}

article header {
  padding-bottom: 48px;
  text-align: center;
  border-bottom: solid 1px #eee;
  margin-bottom: 48px;
}

article header h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
}

article header p:first-child {
  text-align: left;
}

article aside h3 {
    font-weight: 600;
}

article section h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 16px;
}

article section h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
}

.text-center { text-align: center; }
.text-left { text-align: left; }

.container,
.container-wide {
  margin-top: 120px;
  margin-bottom: 120px;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
  overflow: hidden;
}

.skill-title i {
  display: block;
  float: left;
  width: 24px;
}

.skill-title+ul {
  list-style: none;
  padding-left: 24px;
}

.skill-title+ul li {
  margin-bottom: 0;
  display: inline-block;
}

.skill-title+ul li:after {
  content: ',';
}

.skill-title+ul li:last-child:after {
  content: '';
}

.skill-title+ul+p {
  padding-left: 24px;
}

.main-link {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}

.mt0 {
  margin-top: 0;
}

.mobile-show {
  display: none;
}

.browser-project-image {
  border: solid 2px;
  padding-top: 36px;
  margin-bottom: 40px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.browser-project-image img {
  border-top: solid 2px;
  border-bottom: solid 2px;
}

.browser-project-image:before {
  content: '\25CB  \25CB  \25CB';
  position: absolute;
  top: 16px;
  left: 10px;
  display: block;
  font-size: 26px;
  line-height: 0;
  opacity: 0.7;
}

.mobile-project-image {
  border: solid 2px;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 14%/7%;
  padding: 22% 0;
}

.mobile-project-image .top {
  position: absolute;
  height: 0;
  left: 50%;
  box-shadow: 0 0 0 2px #000 inset;
  top: 4.8%;
  width: 18%;
  padding-top: 3.5%;
  margin-top: 0;
  margin-left: -9%;
  border-radius: 18px;
}

.mobile-project-image .top:after {
  content: '';
  width: 25%;
  padding-top: 25%;
  position: absolute;
  top: -10%;
  left: -40%;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #000 inset;
}

.mobile-project-image .screen {
  margin: 0 auto;
  border: solid 2px;
  width: 90%;
}

.mobile-project-image .screen img {
  display: block;
  width: 100%;
}

.mobile-project-image .home_button {
  position: absolute;
  height: 0;
  left: 50%;
  bottom: 0;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #000 inset;
  bottom: 2%;
  width: 14%;
  padding-top: 14%;
  margin-left: -7%;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .container,
  .container-wide {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mobile-show {
    display: block;
  }
}
