---
---
$base-color: #183a5b;
$accent-color: #b6dfd7;

:root {
	--primary-color: #{mix($base-color, $accent-color, 60%)};
	--primary-color-dark: #{$base-color};
	--background-color: #{$accent-color};
	--project-hover-background: #{mix($base-color, $accent-color, 5%)};
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary-color: #{mix($accent-color, $base-color, 60%)};
		--primary-color-dark: #{$accent-color};
		--background-color: #{$base-color};
		--project-hover-background: #{mix($accent-color, $base-color, 5%)};
	}
}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	font: 1.25rem/1.5 Space Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	background: var(--background-color);
	color: var(--primary-color);
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
	text-decoration: underline;
	transition: color 150ms cubic-bezier(.4, 0, .2, 1);

	@media (hover: hover) and (pointer: fine) {
		&:hover {
			color: var(--primary-color-dark);
		}
	}
}

img {
	display: block;
}

p {
	margin-bottom: 1.5rem;
}

footer > * {
	margin-right: 0.5rem;
	font-size: 0.875rem;
}

.text-hightlight {
	color: var(--primary-color-dark);
}

.profile-image {
	width: 6rem;
	border-radius: 50%;
	margin-bottom: 1.5rem;
}

.projects {
	margin: 3rem 0;

	.project {
		--tw-scale-x: 1;
    --tw-scale-y: 1;

		text-decoration: none;
		display: block;
		padding: 1rem 2rem 1rem 1rem;
		border-radius: 0.75rem;
		transition: 150ms cubic-bezier(.4, 0, .2, 1);
		transition-property: transform, background-color;
		transform: scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
		background: var(--project-hover-background);
		margin-bottom: 1.5rem;
		font-size: 1rem;

		// @media (hover: hover) and (pointer: fine) {
		// 	&:hover {
		// 		--tw-scale-x: 1.05;
		// 		--tw-scale-y: 1.05;
		//
		// 		background: var(--project-hover-background);
		// 		color: inherit;
		// 	}
		// }

		.project-title {
			display: flex;
			align-items: center;
			// margin-bottom: 0.75rem;
			color: var(--primary-color-dark);
			line-height: 1.2;

			img {
				width: 2.5rem;
				border-radius: 22%;
				margin-right: 0.75rem;
			}

			em {
				display: block;
				color: var(--primary-color);
			}
		}

		.project-description {
			font-size: 1rem;
			display: block;
		}

		svg {
			margin-left: auto;
			color: var(--primary-color);
		}
	}
}

.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 4rem 2rem;
}
