---
layout: base
permalink: /50-states
---
<div class="container clearfix">
	<div class="col-12">
		<p><a href="/" class="main-link">&larr; Home</a></p>
		<h1>50 States</h1>
		<p>I have a goal of visiting all of the states in the U.S. Here is a ongoing list of the states I have visited. I have a long way to go.</p>
		<p><strong class="section-title">Count: {{ protocols_count.size }}/{{ site.data.states | size }}</strong></p>
		{% for park in site.data.states %}
			{% if park.visited == 'yes' %}
			<p class="item visited">
			{% else %}
			<p class="item">
			{% endif %}
				<span class="black-text">{{ park.name }}</span>
				<br>
				<span>{{ park.capital }}</span>
			</p>
		{% endfor %}
	</div>
</div>