---
layout: new
permalink: /50-states
---
<div class="col-8">
	<section>
		<span class="section-title black">50 States</span>
		<p>I have a goal of visiting all of the states in the U.S. Here is a ongoing list of the states I have visited. I have a long way to go.</p>
		{% assign protocols_count = '' %}
		{% for park in site.data.states %}
			{% if park.visited == 'yes' %}
				{% assign protocols_count = protocols_count | append: 'x' %}
			{% endif %}
		{% endfor %}
	</section>
	<section>
		<span class="section-title">Count: {{ protocols_count.size }}/{{ site.data.states | size }}</span>
		{% for park in site.data.states %}
			{% if park.visited == 'yes' %}
			<p class="item visited">
			{% else %}
			<p class="item">
			{% endif %}
				<span class="black-text">{{ park.name }}</span>
				<br>
				<span>{{ park.capital }}</span>
			</p>
		{% endfor %}
	</section>
</div>