<!DOCTYPE html>
<html>
<head>
	<title>SQL Form</title>
	<link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<style>
		.nav > li > a { padding: 5px 12px; margin-top: 6px; cursor: pointer; }
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/0.10.6/vue.min.js"></script>
	<script src="sqlform.js"></script>
</head>
<body>
	<br>
	<div id="form" class="container">
		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<h3 class="panel-title pull-left">SQL Builder</h3>

				<ul id="tabs" class="nav nav-tabs pull-right" style="margin: -10px -15px; border: 0;">
					<li v-class="active: activeTab == 0"><a v-on="click: activeTab = 0">Form</a></li>
					<li v-class="active: activeTab == 1"><a v-on="click: activeTab = 1">Text</a></li>
				</ul>
			</div>
			<div class="panel-body" v-if="activeTab == 0">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-md-3 control-label">Table</label>
						<div class="col-md-9">
							<select class="form-control input-sm" v-model="tableSelected" v-on="change: checkTableValue">
								<option value="">Select a Table</option>
								<option v-repeat="schema" v-attr="selected: $key == tableSelected">{{ $key }}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label">Action</label>
						<div class="col-md-9">
							<select class="form-control input-sm" v-model="actionSelected" v-attr="disabled: tableSelected == ''">
								<option value="">Select an Action</option>
								<option>select</option>
								<option>insert</option>
								<option>update</option>
								<option>delete</option>
							</select>
						</div>
					</div>
					<div class="form-group" v-if="tableSelected != '' && [ 'select' ].indexOf(actionSelected) > -1">
						<label class="col-md-3 control-label">Columns</label>
						<div class="col-md-9">
							<div class="checkbox" v-repeat="schema[tableSelected]">
								<label><input type="checkbox" v-on="click: toggleColumnSelect(this)" v-attr="checked: selected" /> {{ name }}</label>
							</div>
						</div>
					</div>
					<div class="form-group" v-if="tableSelected != '' && [ 'insert', 'update' ].indexOf(actionSelected) > -1">
						<label class="col-md-3 control-label">Values</label>
						<div class="col-md-9">
							<div class="form-group" v-repeat="schema[tableSelected]">
								<div class="col-md-3">
									<label class="control-label">{{ name }}</label>
								</div>
								<div class="col-md-3">
									<input class="form-control input-sm" type="{{ type | inputType }}" v-model="value">
								</div>
							</div>
						</div>
					</div>
					<div class="form-group" v-if="tableSelected != '' && [ 'select', 'update', 'delete' ].indexOf(actionSelected) > -1">
						<label class="col-md-3 control-label">Where</label>
						<div class="col-md-9">
							<div class="form-group" v-repeat="filter: whereFilters">
								<div class="col-md-3">
									<select class="form-control input-sm input-sm input-sm" v-model="filter.column">
										<option value="">Select a Column</option>
										<option v-repeat="schema[tableSelected]" v-attr="selected: name == filter.column">{{ name }}</option>
									</select>
								</div>
								<div class="col-md-3">
									<select class="form-control input-sm input-sm" v-model="filter.comparator">
										<option>Select a Compare</option>
										<option>=</option>
										<option><</option>
										<option>></option>
										<option><></option>
										<option>LIKE</option>
										<option>IN</option>
										<option>NOT IN</option>
									</select>
								</div>
								<div class="col-md-3">
									<input class="form-control input-sm" type="text" v-model="filter.value" />
								</div>
								<div class="col-md-3" v-if="whereFilters.length > 1">
									<a class="btn btn-danger btn-sm" v-on="click: removeWhereFilter($index)"><i class="glyphicon glyphicon-remove"></i></a>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<a class="btn btn-success btn-xs" v-on="click: addWhereFilter"><i class="glyphicon glyphicon-plus"></i> Filter</a>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group" v-if="tableSelected != '' && actionSelected == 'select'">
						<label class="col-md-3 control-label">Order</label>
						<div class="col-md-9">
							<div class="form-group" v-repeat="order: orderBy">
								<div class="col-md-3">
									<select class="form-control input-sm" v-model="order.column">
										<option value="">Select an Column</option>
										<option v-repeat="schema[tableSelected]" v-attr="selected: name == order.column">{{ name }}</option>
									</select>
								</div>
								<div class="col-md-3">
									<select class="form-control input-sm" v-model="order.direction">
										<option value="">Select a Direction</option>
										<option value="ASC">ASC</option>
										<option value="DESC">DESC</option>
									</select>
								</div>
								<div class="col-md-3" v-if="orderBy.length > 1">
									<a class="btn btn-danger btn-sm" v-on="click: removeOrderBy($index)"><i class="glyphicon glyphicon-remove"></i></a>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<a class="btn btn-success btn-xs" v-on="click: addOrderBy"><i class="glyphicon glyphicon-plus"></i> Parameter</a>
								</div>
							</div>
						</div>
					</div>
					<!-- <div id="compiled_sql">
						<hr>
						<code>
							{{ ssql }}
						</code>
						<hr>
						<code>
							{{ sql }}
						</code>
					</div> -->
				</div>
			</div>
			<div class="panel-body" v-if="activeTab == 1">
				<textarea class="form-control" cols="30" rows="10" v-on="change: parseSql" v-model="ssql">{{ buildSql() }}</textarea>
			</div>
		</div>
		<form action="" action="get">
			<input type="hidden" value="{{ ssql }}">
			<input type="submit" class="btn btn-primary pull-left" value="Save">
			<a class="btn btn-danger pull-right">Delete</a>
		</form>
	</div>
</body>
</html>
