<!DOCTYPE html>
<html>
<head>
	<title>SQL Form</title>
	<style>
		body { font: 14px/20px helvetica; }
		a { cursor: pointer; }

		.form_element { margin-bottom: 10px; }
		.form_element strong { font-weight: bold; display: block; }
	</style>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/0.10.3/vue.min.js"></script>
	<script>
		window.onload = init;

		function init () {
			new Vue({
				el: '#form',
				data: {
					tables: [ 'users', 'accounts', 'products' ],
					tableSelected: '',
					actionSelected: '',
					columns: {
						'users': [ 'id', 'first_name', 'last_name', 'created' ],
						'accounts': [ 'id', 'account_name', 'plan_id' ],
						'products': [ 'id', 'name', 'sku', 'price' ]
					},
					whereFilters: [{ column: '', comparator: '', value: '' }],
					orderBy: [{ column: '', direction: '' }]
				},
				methods: {
					addOrderBy: function () {
						this.orderBy.push({ column: '', direction: '' });
					},
					addWhereFilter: function () {
						this.whereFilters.push({ column: '', comparator: '', value: '' });
					},
					removeFilter: function (filterIndex) {
						this.whereFilters.$remove(filterIndex);
					},
					removeOrder: function (orderIndex) {
						this.orderBy.$remove(orderIndex);
					},
					resetSqlParts: function () {
						this.whereFilters = [{ column: '', comparator: '', value: '' }];
						this.orderBy = [{ column: '', direction: '' }];	
					}
				}
			});
		}
	</script>
</head>
<body>
	<div>
		SELECT * FROM _users WHERE id <> 34 ORDER BY id DESC, first_name ASC;
		<br>
		INSERT INTO _users (id, first_name, last_name) VALUES (0, 'Joshua', 'Kemmerling');
		<br>
		UPDATE _users SET first_name = 'BOB' WHERE id = 12;
		<br>
		DELETE FROM _users WHERE id < 3000;
	</div>
	<hr>
	<form id="form">
		<div class="form_element">
			<strong>Table</strong>
			<select v-model="tableSelected" v-on="change: resetSqlParts">
				<option value="">Select a Table</option>
				<option v-repeat="tables">{{ $value }}</option>
			</select>
		</div>
		<div class="form_element">
			<strong>Action</strong>
			<select v-model="actionSelected" v-on="change: resetSqlParts">
				<option value="">Select an Action</option>
				<option>select</option>
				<option>insert</option>
				<option>update</option>
				<option>delete</option>
			</select>
		</div>
		<div class="form_element" v-if="tableSelected != '' && [ 'select' ].indexOf(actionSelected) > -1">
			<strong>Columns</strong>
			<div>
				<label><input type="checkbox" /> *</label>
			</div>
			<div v-repeat="columns[tableSelected]">
				<label><input type="checkbox" /> {{ $value }}</label>
			</div>
		</div>
		<div class="form_element" v-if="tableSelected != '' && [ 'insert', 'update' ].indexOf(actionSelected) > -1">
			<strong>Values</strong>
			<div v-repeat="column: columns[tableSelected]">
				{{ column }} = <input type="text">
			</div>
		</div>
		<div class="form_element" v-if="tableSelected != '' && [ 'select', 'update', 'delete' ].indexOf(actionSelected) > -1">
			<strong>Where</strong>
			<div v-repeat="filter: whereFilters">
				<select v-model="filter.column">
					<option value="">Select a Column</option>
					<option v-repeat="columns[tableSelected]">{{ $value }}</option>
				</select>
				<select v-model="filter.comparator">
					<option>Select a Compare</option>
					<option>=</option>
					<option><</option>
					<option>></option>
					<option><></option>
				</select>
				<input type="text" v-model="filter.value" />
				<a v-on="click: removeFilter($index)">&times;</a>
			</div>
			<div>
				<a v-on="click: addWhereFilter">&plus;</a>
			</div>
		</div>
		<div class="form_element" v-if="tableSelected != '' && actionSelected == 'select'">
			<strong>Order</strong>
			<div v-repeat="order: orderBy">
				<select v-model="order.column">
					<option value="">Select an Column</option>
					<option v-repeat="columns[tableSelected]">{{ $value }}</option>
				</select>
				<select v-model="order.direction">
					<option>Select a Direction</option>
					<option>ASC</option>
					<option>DESC</option>
				</select>
				<a v-on="click: removeOrder($index)">&times;</a>
			</div>
			<div>
				<a v-on="click: addOrderBy">&plus;</a>
			</div>
		</div>
	</form>
</body>
</html>
