body { font: 14px/20px 'helvetica neue', helvetica, arial, sans-serif; margin: 20px; }
em { font-style: italic; }
strong { font-weight: bold; }
table { text-align: left; margin: 10px 0; width: 100%; }
table thead { font-weight: bold; }
table thead tr th { padding: 5px; cursor: pointer; }
table tbody tr.odd { background: #eee; }
table tbody tr:hover { background: #7FDBFF; }
table tbody tr td { border: solid 1px #ddd; padding: 5px; }
table tbody tr td.high { background: #FF4136; }
table tbody tr td.low { background: #3D9970; }

/*#beers_filter { display: none; }*/