html { font-size: 62.5%; }
body { font: 300 14px/22px 'open sans' 'helvetica neue', helvetica, arial, sans-serif; color: #888; }
a { text-decoration: none; color: #08c; padding: 0 3px; margin: 0 -3px; }
a:hover { background: #08c; color: #fff; }
p { margin-bottom: 20px; }
img { display: block; margin: 0 auto 20px; max-width: 100%; }
h1, h2 { font-size: 32px; line-height: 52px; color: #000; margin-bottom: 20px; }
h1 { font-weight: 700; position: fixed; top: 120px; left: 10%; color: #08c; margin-bottom: 0; }
h3 { color: #ddd; margin-bottom: 20px; text-transform: uppercase; letter-spacing: 2px; }

section, footer { max-width: 80%; margin: 0 auto; padding: 120px 0; border-bottom: solid 1px #eee; }
footer { border: 0;font-size: 12px; padding: 30px 0; }

article { max-width: 80%; margin: 0 auto; padding: 120px 0; border-bottom: solid 1px #eee; }
article img { margin-bottom: 40px; margin-bottom: 0; }
article .details strong { color: #000; font-weight: 600; }

#intro h2 { margin-bottom: 40px; }
#intro strong { font-weight: 700; color: #fff; }

#about .intro { font-size: 24px; line-height: 38px; }

#welcome { background: url(http://www.heroconf.com/__resources/userfiles/image/austin-tx.jpg) no-repeat center; background-size: cover; min-height: 400px; }

#experiencelabels div { line-height: 28px; border-top: solid 5px; /*font-size: 12px;*/ color: #000; white-space: nowrap; margin-bottom: 20px; float: left; }
#experiencelabels div span { color: #999; }
#experiencelabels div:nth-child(0n+1) { width: 57%; border-color: #00d2ec; }
#experiencelabels div:nth-child(0n+2) { width: 28%; border-color: #714b9d; }
#experiencelabels div:nth-child(0n+3) { width: 15%; border-color: #00cca8; }

#skills { margin-bottom: 20px; overflow: hidden; }
#skills li { /*width: 50%;*/ float: left; padding-right: 20px; }