body { font: 13px/20px 'helvetica neue', helvetica, arial, sans-serif; color: #000; }
a { color: #09c; text-decoration: none; }
a.external { background: url(external.svg) no-repeat right center; background-size: 10px; padding-right: 15px; }
strong { font-weight: bold; }
img { display: block; max-width: 100%; margin-bottom: 20px; }
img.mobile { max-width: 320px; }
ul, p { margin-bottom: 20px; }

h2 { font-weight: 700; margin-bottom: 20px; color: #000; }

header { padding: 40px 0; background: #0ec; }

section { margin: 0 auto; overflow: hidden; max-width: 800px; }
section > div { border-top: solid 1px #eee; float: left; clear: both; margin: 20px 0 0; padding: 17px 0 0; overflow: hidden; }
section > div:first-child { border: 0; margin: 0; }
section > div > * { float: left; width: 400px; }
section > div > h2 { width: 200px; clear: both; }
section > div > #project_images { width: 600px; }
section > div > #project_info { width: 200px; }

#mountain { width: 53px; height: 25px; margin: 0 auto; position: relative; }
#mountain > div { position: absolute; top: 0; left: 0; }
#mountain #one { width: 0; height: 0; border-left: 20px solid transparent; border-right: 20px solid transparent; border-bottom: 25px solid black; }
#mountain #two { width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 7px solid #fff; left: 15px; top: 2px; }
#mountain #three { width: 0; height: 0; border-left: 3px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #fff; left: 15px; top: 9px; }
#mountain #four { width: 0; height: 0; border-left: 3px solid transparent; border-right: 3px solid transparent; border-top: 4px solid #fff; left: 20px; top: 9px; }
#mountain #five { width: 0; height: 0; border-left: 15px solid transparent; border-right: 15px solid transparent; border-bottom: 20px solid black; top: 5px; left: 23px; }
#mountain #six { width: 0; height: 0; border-left: 3px solid transparent; border-right: 3px solid transparent; border-bottom: 5px solid #fff; top: 7px; left: 35px; }
#mountain #seven { width: 0; height: 0; border-left: 3px solid transparent; border-right: 3px solid transparent; border-top: 3px solid #fff; top: 12px; left: 35px; }
#mountain #eight { width: 0; height: 0; border-left: 20px solid transparent; border-right: 20px solid transparent; border-bottom: 25px solid #0ec; left: 2px; }

#welcome_page section { max-width: 600px; }
#welcome_page section ul, #welcome_page section p { margin-bottom: 0; }
#welcome_page section em, #welcome_page section span { color: #777; }
#welcome_page section em { font-style: italic; }