body { font: 16px/20px georgia, palatino, 'palatino linotype', times, 'times new roman', serif; color: #000; }
a { text-decoration: none; color: #fc59b9; }
strong { font-weight: bold; }
em { font-style: italic; }
p { margin-bottom: 20px; }
hr { background: #eee; height: 5px; width: 120px; margin: 0 auto 40px; border: 0; }
h2 { margin: 0 0 14px; font: 26px/1 'League Gothic', helvetica, arial, sans-serif; text-transform: uppercase; }
h3 { font: 42px/1 'Blackout Midnight', helvetica, arial, sans-serif; }

header { width: 960px; margin: 20px auto 0; background: #000; overflow: hidden; }
header a { color: #fff; line-height: 26px; padding: 8px 15px; }
header a:hover { background: #fff; color: #fc59b9; }
header h1 { float: left; }
header h1 a { text-transform: uppercase; font: 26px/1 'League Gothic', helvetica, arial, sans-serif; display: block; padding: 9px 15px 7px; }
header nav { float: right; overflow: hidden; }
header nav a { float: left; }

footer { width: 960px; margin: 40px auto 0; border-top: solid 1px #eee; text-align: center; padding: 20px 0; font-size: 12px; line-height: 22px; font-style: italic; color: #555; vertical-align: top; }
footer span { font-style: normal; font-size: 18px; margin: 0 10px; color: #fc59b9; }

section { width: 960px; margin: 0 auto; }

.project_link { line-height: 24px; }
.project_link:hover { background: #fc59b9; color: #fff; padding: 1px 3px; margin: 0 -3px; }

.col { width: 33%; padding: 0 10px; float: left; }
.col.alpha { padding-left: 0; }
.col.omega { padding-right: 0; }

#profile_img { display: block; margin: 0 auto 40px; width: 100%; }
#profile_info { width: 50%; margin: 0 auto; }

#project_images { text-align: center; margin: 40px 0; vertical-align: top }
#project_images img { max-width: 530px; margin: 0 20px; box-shadow: 0 2px 12px rgba(0, 0, 0, 0.6); }
#project_images img.iphone { width: 320px; }

#project_nav { width: 960px; margin: 0 auto; overflow: hidden; border-bottom: solid 1px #eee; }
#project_nav a { float: right; padding: 7px 10px; }
#project_nav a:first-child { float: left; }
#project_nav a:hover { background: #fc59b9; color: #fff; }