body { -webkit-font-smoothing: antialiased; }
body { color: #4d4d4d; font: 400 14px/32px "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif; padding: 0 20px; }

a { -webkit-transition-property: all; -moz-transition-property: all; -o-transition-property: all; transition-property: all; -webkit-transition-duration: 0.125s; -moz-transition-duration: 0.125s; -o-transition-duration: 0.125s; transition-duration: 0.125s; color: #3d9987; text-decoration: none; border-bottom: 1px solid rgba(61, 153, 135, 0.15); }
a:hover { color: #50b9a5; border-bottom: 1px solid rgba(61, 153, 135, 0); }
strong { font-weight: 600; }
em { font-style: italic; }
img { display: block; max-width: 100%; margin-bottom: 32px; }
p { font-size: 20px; line-height: 32px; margin-bottom: 32px; }

article { max-width: 600px; margin: 0 auto; }
article p:first-of-type { color: #1a1a1a; font-weight: 300; font-size: 32px; line-height: 48px; /*margin-bottom: 48px;*/ margin-top: 96px; }
article p:last-of-type { margin-bottom: 96px; }