---
layout: base
---
<article class="container-wide clearfix">
	<header class="col-12">
		<p><a href="/" class="main-link">&larr; Home</a></p>
		<h1>Application Authentication with JSON Web Tokens</h1>
		<p>
			Published on {{ page.date | date: "%B %d, %Y" }} at
			{% if page.external-url %}
				<a href="{{ page.external-url }}" target="_blank">{{ page.posted-on }}</a>
			{% else %}
				{{ page.posted-on }}
			{% endif %}
		</p>
	</header>
	<section class="col-6 push-3">
		{{ content }}
	</section>
	<aside class="col-3">
		<hr class="mobile-show" />
		{% if page.previous.url %}
			<h3>Previous Article</h3>
			<p><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></p>
		{% endif %}
		{% if page.next.url %}
			<h3>Next Article</h3>
			<p><a href="{{ page.next.url }}">{{ page.next.title }}</a></p>
		{% endif %}
	</aside>
</article>