<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link href="/css/reset.css" rel="stylesheet" />
</head>
<body>
	{{ content }}
	<script type="text/javascript">
		var _gaq = [['_setAccount', 'UA-5317729-4'], ['_trackPageview']];
		
		(function(d, t) {
			var g = d.createElement(t),
				s = d.getElementsByTagName(t)[0];
			
			g.async = g.src = ('//www.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g, s);
		}(document, 'script'));
	</script>
</body>
</html>