<!DOCTYPE html>
<html>
<head>
	<title>Portfolio of Web Developer Joshua Kemmerling</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/felix.css">
	<link rel="stylesheet" href="/css/global2.css">
	<link rel="stylesheet" href="/css/code-highlighting.css">
</head>
<body class="clearfix">
	<div class="container clearfix">
		<div id="logo"><a href="/">I'm Joshua.</a> Web Developer. ATX.</div>
		{{ content }}
	</div>
</body>
</html>
