<!DOCTYPE html>
<html>
<head>
	<title>Portfolio of Web Developer Joshua Kemmerling</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/global.css">
</head>
<body class="clearfix">
	<div id="top-wrap">
		<div class="container">
			<header id="header" class="col col-100">
				<nav>
					<a href="/" id="logo"><i class="fa fa-bolt"></i></a>
					<!-- <a href=".projects-section">Projects</a>
					<a href=".about-section">About</a>
					<a href=".writings-section">Writings &plus; Talks</a> -->
				</nav>
				<nav>
					<a href="http://github.com/hellojosh" target="_blank">
						<i class="fa fa-github"></i>
					</a>
					<a href="http://linkedin.com/in/joshuakemmerling" target="_blank">
						<i class="fa fa-linkedin"></i>
					</a>
					<a href="http://codepen.io/hellojosh" target="_blank">
						<i class="fa fa-codepen"></i>
					</a>
				</nav>
			</header>
		</div>
	</div>
	{{ content }}
</body>
</html>
