---
layout: base
---
<section class="container-wide clearfix">
	<header class="col-12 text-center">
		<p class="text-left"><a href="/" class="main-link">&larr; Home</a></p>
		<h1 class="mb-16"><strong>{{ page.title }}</strong></h1>
		{% if page.tech %}
		<h3><strong>Technology</strong></h3>
		<p>{{ page.tech }}</p>
		{% endif %}
		{% if page.client %}
		<h3><strong>Client</strong></h3>
		<p>{{ page.client }}</p>
		{% endif %}
		{% if page.agency %}
		<h3><strong>Agency</strong></h3>
		<p>{{ page.agency }}</p>
		{% endif %}
		{% if page.year %}
		<h3><strong>Year</strong></h3>
		<p>{{ page.year }}</p>
		{% endif %}
		{% if page.link %}
		<h3><strong>Link</strong></h3>
		<p><a href="{{ page.link }}" target="_blank">{{ page.link }}</a></p>
		{% endif %}
	</header>
	<div class="col-8 push-2">
		<div class="row">
			{% for image in page.images %}
				{% if image.type == 'mobile' %}
					<div class="col-12">
						<div class="mobile-project-image">
							<div class="top"></div>
							<div class="screen">
								<img src="{{ image.url }}">
							</div>
							<div class="home_button"></div>
						</div>
					</div>
				{% else %}
					<div class="col-12">
						<div class="browser-project-image">
							<img src="{{ image }}">
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</section>