---
layout: new
---
<div class="col-12">
	<section class="row">
		<div class="col-8">
			<span class="section-title">{{ page.title }}</span>
			{% if page.tech %}
			<p class="item">
				<span class="project-meta">
					<strong>Tech</strong>: {{ page.tech }}
				</span>
			</p>
			{% endif %}
			{% if page.client %}
			<p class="item">
				<span class="project-meta">
					<strong>Client</strong>: {{ page.client }}
				</span>
			</p>
			{% endif %}
			{% if page.agency %}
			<p class="item">
				<span class="project-meta">
					<strong>Agency</strong>: {{ page.agency }}
				</span>
			</p>
			{% endif %}
			{% if page.year %}
			<p class="item">
				<span class="project-meta">
					<strong>Year</strong>: {{ page.year }}
				</span>
			</p>
			{% endif %}
			{% if page.link %}
			<p class="item">
				<span class="project-meta">
					<strong>Link</strong>: <a href="{{ page.link }}" target="_blank">{{ page.link }}</a>
				</span>
			</p>
			{% endif %}
		</div>
		{% for image in page.images %}
			<div class="col-12">
				<img src="{{ image }}">
			</div>
		{% endfor %}
	</section>
</div>